alias ll='ls -laFh'
alias l='ls -lFh'
alias zping='sudo ping -f -n -c 100 '
alias ztype='sed -n p '
#alias ztype="awk '{print \$0}' "
alias zhping='sudo hping3 -c 100 --fast -n -S '
alias zcurl='curl -o /dev/null -w %{speed_download} '
alias zmtr='mtr --report -c 1 --no-dns '
alias zdu='du -sh * | sort -h '
alias zunproxy='unset http_proxy; unset https_proxy'
alias zproxy='zset(){ export http_proxy=$1; export https_proxy=$1; }; zset'
