# private env
#if [[ "$TERM" =~ ^xterm.*$ ]]; then TERM=xterm-256color; fi
TERM=xterm-256color

alias ll='ls -laFh'
alias l='ls -lFh'
alias zping='sudo ping -f -n -c 100 '
#alias ztype='sed -n p '
alias zmore='more -100000 '
alias zhping='sudo hping3 -c 100 --fast -n -S '
alias zcurl='curl -k -o /dev/null -w %{speed_download} '
alias zmtr='mtr --report -c 1 --no-dns '
alias zdu='du -sh * | sort -h '
alias zunproxy='unset http_proxy; unset https_proxy; unset HTTP_PROXY; unset HTTPS_PROXY'
alias zproxy='zset(){ export http_proxy=$1; export https_proxy=$1; export HTTP_PROXY=$1; export HTTPS_PROXY=$1; }; zset'
alias zspeed='zs(){ host=$1; curl -k -o /dev/null https://$host && zcurl https://$host/speed/100MB.bin; }; zs'
